#shows
  = image_tag "close.png", class: "close-button"

  :markdown
    ## Wanna come see us play?

    We post new events on our [Facebook page](http://facebook.com/wonderbars)
    as soon as they're announced, so check that for frequent updates!

  %h3 Upcoming Shows
  %table#upcoming-shows
    %thead
      %tr
        %td Event
        %td Venue
        %td Location
        %td Date
    %tbody
      %tr
        %td= link_to "Playa Del Fuego", 'http://playadelfuego.org'
        %td Main Stage
        %td Odessa, DE
        %td 5/27/2013
      %tr
        %td= link_to_placeholder "Bangarang's Artsy As Fuck! First Fridays"
        %td Arts Garage
        %td Philadelphia, PA
        %td 6/7/2013
      %tr
        %td= link_to "Freeform Arts Festival", 'http://freeform-festival.com/'
        %td Salem County Fairgrounds
        %td Salem County, NJ
        %td 6/13/2013
      %tr
        %td= link_to_placeholder "TBA"
        %td Arts Garage
        %td Philadelphia, PA
        %td 7/12/2013
      %tr
        %td= link_to_placeholder "Corduroy"
        %td TBA
        %td Philadelphia, PA
        %td 7/27/2013
      %tr
        %td= link_to_placeholder "Compression"
        %td Secret Warehouse Location
        %td Philadelphia, PA
        %td 8/17/2013

  %h3 Past Shows
  %table#past-shows
    %thead
      %tr
        %td Event
        %td Venue
        %td Location
        %td Date
    %tbody
      %tr
        %td= link_to "PEX Summer Festival 2009", "http://pexsummerfestival.com"
        %td Ramblewood
        %td Darlington, MD
        %td 7/2/2009
      %tr
        %td= link_to "PEX Halloween Decom 2009", "http://thephiladelphiaexperiment.org"
        %td Secret Warehouse Location
        %td Philadelphia, PA
        %td 10/31/2009
      %tr
        %td= link_to "PEX Summer Festival 2010", "http://pexsummerfestival.com"
        %td Ramblewood
        %td Darlington, MD
        %td 7/3/2010
      %tr
        %td= link_to "PEX Halloween Ball 2010", "http://thephiladelphiaexperiment.org"
        %td Secret Warehouse Location
        %td Philadelphia, PA
        %td 10/25/2010
      %tr
        %td= link_to "HeartBurn 2011", "http://thephiladelphiaexperiment.org"
        %td Secret Warehouse Location
        %td Philadelphia, PA
        %td 2/15/2011
      %tr
        %td= link_to "PEX Summer Festival 2011", "http://pexsummerfestival.com"
        %td Ramblewood
        %td Darlington, MD
        %td 7/1/2011
      %tr
        %td= link_to "PEX Halloween Ball 2011", "http://thephiladelphiaexperiment.org"
        %td Battleship New Jersey
        %td Camden, NJ
        %td 10/27/2011
      %tr
        %td= link_to "PEX Summer Festival 2012", "http://pexsummerfestival.com"
        %td Ramblewood
        %td Darlington, MD
        %td 7/1/2012
      %tr
        %td= link_to "BANGARANG!!!", "https://www.facebook.com/events/147387762071941/"
        %td The HeadHouse
        %td Philadelphia, PA
        %td 10/26/2012
      %tr
        %td= link_to "Come Correct", "https://www.facebook.com/events/377400385685894/"
        %td Underground Arts
        %td Philadelphia, PA
        %td 1/27/2013

