<!DOCTYPE html>
<html>
<head>
  <title><%= title_tag %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= meta_description_from_facebook %>
</head>
<body>

<header>
  <%= image_tag 'logo.png' %>
</header>

<section id="desktop">
  <h1><%= content_for :title %></h1>

  <%= yield %>
</section>

<footer>
  <nav>
    <%= link_to_unless_current "Shows", shows_path %>
    <%= link_to_unless_current "Personnel", members_path %>
    <%= link_to_unless_current "Music", releases_path %>
    <%= link_to_unless_current "Contact", contact_path %>
    <%= link_to_unless_current "Like Us", facebook.link %>
  </nav>

  <p>Copyright &copy; 2012 The Wonder Bars. All Rights Reserved.</p>
</footer>

</body>
</html>
