!!! 5
%html
  %head
    = title_tag
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = meta_description_from_facebook unless Rails.env.test?
  %body
    #wonderbars.fluid-container

      .row-fluid
        %header.span-2
          %h1 The Wonder Bars

        #desktop.span-10
          = yield

      .row-fluid
        %footer.span-12
          %nav
            %span.link= link_to_unless_current "Shows",     shows_path, title: "That's What's Up"
            %span.link= link_to_unless_current "Music",     releases_path, title: "What We Sound Like"
            %span.link= link_to_unless_current "Personnel", about_path, title: "Who Are The Wonder Bars?"
            %span.link= link_to_unless_current "Contact",   contact_path, title: "Make Contact"
