!!! 5
%html
  %head
    = title_tag
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    - unless Rails.env.test?
      = meta_description_from_facebook unless Rails.env.test?
      = render 'google_analytics'
  %body
    = render 'facebook_social_plugins' unless Rails.env.test?
    #wonderbars.fluid-container
      .row-fluid
        %header.span-2
          %h1 The Wonder Bars
        #desktop.span-10
          = yield
          = image_tag 'spinner.gif', id: 'spinner'
      .row-fluid
        %footer.span-12
          %nav
            = link_to "Shows",     shows_path,    title: "That's What's Up",          class: "link"
            = link_to "Music",     releases_path, title: "What We Sound Like",        class: "link"
            = link_to "About",     about_path,    title: "Who Are The Wonder Bars?",  class: "link"
            = link_to "Contact",   contact_path,  title: "Make Contact",              class: "link"
          = render 'social/soundcloud'
          = render 'social/facebook'
          = render 'social/twitter'
  = javascript_include_tag "application"
