!!! 5
%html
  %head
    %title= title_tag
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = meta_description_from_facebook unless Rails.env.test?
  %body
    %header
      %h1 The Wonder Bars

    #desktop
      %h1= content_for :title
      = yield

    %footer
      %nav
        = link_to_unless_current "Shows",     shows_path, class: "link", title: "That's What's Up"
        = link_to_unless_current "Music",     releases_path, class: "link", title: "What We Sound Like"
        = link_to_unless_current "Personnel", about_path, class: "link", title: "Who Are The Wonder Bars?"
        = link_to_unless_current "Contact",   contact_path, class: "link", title: "Make Contact"
