!!! 5
%html
  %head
    = title_tag
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = meta_description_from_facebook unless Rails.env.test?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32186780-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=312961995386557";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    #wonderbars.fluid-container
      .row-fluid
        %header.span-2
          %h1 The Wonder Bars
        #desktop.span-10
          = yield
          = image_tag 'spinner.gif', id: 'spinner'
      .row-fluid
        %footer.span-12
          %nav
            = link_to "Shows",     shows_path,    title: "That's What's Up",          class: "link"
            = link_to "Music",     releases_path, title: "What We Sound Like",        class: "link"
            = link_to "About",     about_path,    title: "Who Are The Wonder Bars?",  class: "link"
            = link_to "Contact",   contact_path,  title: "Make Contact",              class: "link"
          %object{:id => "player", :height => "18", :width => "100%"}
            %param{:name => "movie", :value => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1220342&auto_play=false&player_type=tiny&font=Arial&color=0000ff"}
            %param{:name => "allowscriptaccess", :value => "always"}
            %param{:name => "wmode", :value => "transparent"}
            %embed{:allowscriptaccess => "always", :height => "18", :src => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1220342&auto_play=false&player_type=tiny&font=Arial&color=0000ff", :type => "application/x-shockwave-flash", :width => "100%", :wmode => "transparent"}
          .fb-like{"data-font" => "verdana", "data-href" => "http://facebook.com/wonderbars", "data-send" => "true", "data-show-faces" => "false", "data-width" => "450"}
          %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/wonderbars"} Follow @wonderbars
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
